<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MyBLog</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-wrapper #0288d1 light-blue darken-2">
            <a href="{{path("home")}}" class="brand-logo">MyBlog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{path("home")}}">Accueil</a></li>
                <li><a href="badges.html">Categories</a></li>
                <li><a href="badges.html">Contact</a></li>
            </ul>
            </div>
        </nav>
        <div class="container">
        {% block title %}
            <h1 class="center-align">Welcome to my Super Blog</h1>
        {% endblock %}
            {% block body %}{% endblock %}
        </div> 

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% endblock %}
    </body>
</html>
